@import "~bootstrap/scss/bootstrap";

.navbar {
  margin-bottom: 40px;
}

.header-title {
	text-align: center;
	margin: 50px 0px;
}

.brand-name {
  font-size: 22px;
  color: white;
  margin-right: 20px;
}

.image_cards {
  margin: 50px 0;
}

footer {
  text-align: center;
  margin-top: 50px;
}