  
= image_tag @card.image.url
br/
= t('.original_text')
= @card.original_text
br/
= t('.translated_text') 
= @card.translated_text
br/
= t('.review_time')
= @card.review_time.strftime("%Y-%b-%d")
br/
= link_to t('buttons.edit'), edit_deck_card_path(@deck, @card)
br/
= link_to t('buttons.back'), deck_cards_path
br/
= link_to t('buttons.destroy'), deck_card_path(@deck, @card), method: :delete
